html {

}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/meal.jpg) no-repeat;
  background-size: cover;
}

.nav {
  padding: 14px 25px;
  background-color:black;
}

.nav-links {
  float: right;
}

.nav-link {
  color: aliceblue !important;
}

.page-title {
  color: aliceblue;
  font-size: 25px;
}

.nav-link a{
  color: aliceblue !important;
  text-decoration: none !important;
}

.nav-link :hover{
  color: gray !important;
}



.home-wrapper {
  padding: 150px;
  text-align: center;
  align-items: center;
  color: white;
}

 .home-btn {
  background: #515151;
  padding: 15px 50px;
  color: aliceblue;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: background 2s;
  border-radius: 5px;
  margin: 5rem;
 }

.home-btn:hover{
  background: #333;
}

.footer {
  position: fixed;
  background-color: transparent;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
}
.reserved {
  font-size: small;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 35em;
  padding: 50px;
  /* text-align: center; */
  background: white;
  border-radius: 10px;
}

.form-input-txt {
  width: 250px;
  border-top: none !important;
  border-right: none !important;
  border-bottom: #333;
  border-left: none !important;
  border-style: solid;
}

form {
  display: inline;
}

input:focus {
  outline: none;
  border-color: rgb(75, 75, 133);
  transition: ease-in-out, width .5s ease-in-out;
}





.p-1 {

}

.p-t {

}

.p-b {

}

.p-r {

}

.p-l {

}

.m-1 {

}

.m-t {

}

.m-b {
  margin-bottom: 10px;
}

.m-r {
  margin-right: 5px;
}

.m-l {
  margin-left: 35px; 
}
