html {

}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px !important;
  color:  rgb(75, 75, 133);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/meal.jpg) no-repeat;
  background-size: cover;
}
p {
  margin: 0px;
}
.wrapper-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
}

.nav {
  padding: 14px 40px;
  background-color: rgb(75, 75, 133);;
}
.nav-transparent {
  padding: 14px 40px;
  background-color: transparent;
}

.nav-links {
  float: right;
}

.nav-link {
  color: aliceblue !important;
}

.page-title {
  color: aliceblue;
  font-size: 25px;
}

.nav-link a{
  color: aliceblue !important;
  text-decoration: none !important;
}

.nav-link :hover{
  color: gray !important;
}



.home-wrapper {
  padding: 150px;
  text-align: center;
  align-items: center;
  color: white;
  flex-grow: 10;
}

 .home-btn {
  background:  rgb(75, 75, 133);
  padding: 15px 50px;
  color: aliceblue;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: background 2s;
  border-radius: 5px;
  margin: 5rem;
 }

.home-btn:hover{
  background: #333;
}

.footer {
  display: flex;
  height: 70px;
  color: #FFFFFF;
  background-color: transparent;
  padding: 0 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.reserved {
  font-size: small;
}

.sidebar {
  box-shadow: 3px 0 10px 1px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}
.sidebar-header{
  padding: 20px;
  align-items: center;
  text-align: center;
  border-spacing: 0px;
  border-bottom: solid;
  border-width: 1px;
  border-color:#dfdfdf !important;
  border-collapse: collapse;
}

.sidebar-title {
  font-size: 30px;
  margin: 0px;
}

.sidebar-item{
  padding: 10px 0px 10px 25px;
  font-size: 1.2em;
}
.sidebar-items{
  list-style: none;
  padding: 0;
}

.table-wrapper {
  width: 80%;
  margin: auto;
}


.orders-table {
  width: 100%;
  background: white;
}

.add-meal {
  width: 45%;
  margin-left: auto;
}


.orders-table td{
  padding: 15px;

}
.form-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  width: 35em;
  padding: 50px;
  /* text-align: center; */
  background: white;
  border-radius: 10px;
}

.form-input-txt {
  width: 250px;
  border-top: none !important;
  border-right: none !important;
  border-bottom:  rgb(75, 75, 133);
  border-left: none !important;
  border-style: solid;
  background: none;
  border-width: 1px;
}

form {
  display: inline;
}

input:focus {
  outline: none;
  border-width: 2px;
  border-color: rgb(75, 75, 133);
  transition: ease-in-out, width 2s ease-in-out;
}
table, td{
  border-spacing: 0px;
  border-bottom: solid;
  border-right: solid;
  border-width: 1px;
  border-color:#dfdfdf !important;
  border-collapse: collapse;
}

.table-heading {
  font-weight: bold !important;
}
select {
  border: none;
}

.btn {
  background:  rgb(75, 75, 133);
  width: fit-content;
  padding: 6px 12px;
  color: aliceblue;
  border: none;
  cursor: pointer;
  transition: background 2s;

}

.mt-0 {
  margin-top: 0px;
}
.mt-1 {
  margin-top: 10px;

}
.mt-2 {
  margin-top: 20px;

}
.mt-3 {
  margin-top: 30px;

}
.mt-4 {
  margin-top: 40px;

}
.mt-5 {
  margin-top: 50px;

}

.mr-0 {
  margin-right: 0px;
}
.mr-1 {
  margin-right: 10px;

}
.mr-2 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 30px;
}
.mr-4 {
  margin-right: 40px;
}
.mr-5 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-5 {
  margin-bottom: 50px;
}

.ml-0 {
  margin-left: 0px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.ml-3 {
  margin-left: 30px;
}
.ml-4 {
  margin-left: 40px;
}
.ml-5 {
  margin-left: 50px;
}

.m-0 {
  margin: 0px !important;
}
.m-1 {
  margin: 10px !important;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.pt-0 {
  padding-top: 0px;
}
.pt-1 {
  padding-top: 10px;

}
.pt-2 {
  padding-top: 20px;

}
.pt-3 {
  padding-top: 30px;

}
.pt-4 {
  padding-top: 40px;

}
.pt-5 {
  padding-top: 50px;

}

.pr-0 {
  padding-right: 0px;
}
.pr-1 {
  padding-right: 10px;
}
.pr-2 {
  padding-right: 20px;
}
.pr-3 {
  padding-right: 30px;
}
.pr-4 {
  padding-right: 40px;
}
.pr-5 {
  padding-right: 50px;
}

.pb-0 {
  padding-bottom: 0px;
}
.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 20px;
}
.pb-3 {
  padding-bottom: 30px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pb-5 {
  padding-bottom: 50px;
}

.pl-0 {
  padding-left: 0px;
}
.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 20px;
}
.pl-3 {
  padding-left: 30px;
}
.pl-4 {
  padding-left: 40px;
}
.pl-5 {
  padding-left: 50px;
}

.p-0 {
  padding: 0px;
}
.p-auto {
  padding: auto;
}
.pl-auto {
  padding-left: auto;
}
.pr-auto {
  padding-right: auto;
}

.text-white{
  color: white !important;
}
.text-blue {
  color: #1110bc;
}
.text-pending {
  color: orange;
}
.text-success {
  color: #45d745;
}
.bg-blue {
  background-color: #1110bc;
}
.bg-pending {
  background-color: orange;
}
.bg-success {
  background-color: #45d745;
}
.size-2 {
  font-size: 2.5em;
}


.submit-btn {
  width: fit-content;
}

.card-wrapper {
  display: flex;
  width: 80%;
  margin: auto;
}

.card{
  width: 250px;
  height: auto;
  background-color: white;
  margin: 0px 25px 25px 0px;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.02);
}
.card-text {
  padding: 10px;
}

.container {
  width: 80%;
  margin-left: 20%;
}



.profile-img {
  background-color: #1055bc;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  align-items: center;
  margin: auto;
  padding: 20px;
  color: white;
}
.sidebar-items li:hover{
  background: rgb(219 219 221);
}










@media only screen and (max-width: 600px) {

  body {
    /* display: none; */
  }
  .home-wrapper {
    padding: 0px;
    text-align: center !important;
    align-items: center;
    color: white;
    flex-grow: 10;
}

  .form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 70%;
    padding: 40px;
    background: white;
    border-radius: 10px;
  }
  .form-input-txt{
    margin-left: 0px !important;
  }
  .sidebar {
    display: none;
  }

  .card-wrapper {
    display: block;
  }
  .container{
    margin: auto;
  }
  .orders-table{
    color: green;
    display: block;
    max-width: 100%;
    overflow: scroll;
  }
  .add-meal {
    display: inline;
    width: 40%;
    margin-left: auto;
  }
  


}
